{block content}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Jméno žánru</th>
        <th scope="col">Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$genres as $genre">
        <td>{$genre->name}</td>
        <td>
            <a n:href="update $genre->id">Upravit</a> | <a n:href="delete! $genre->id">Smazat</a>
        </td>
    </tr>
    </tbody>
</table>